The block below will import pandas and your dataframe (naming it `df`), as well as showing you the first five rows. (This replicates what you'll get in All of Us, where all of this will be added to the notebook automatically.) Run this block or you can't do any of the other exercises.

The dataframe you will get is one where a drug has been used to treat a variety of conditions. Questions are arising as to whether it causes issues with intraocular pressure. You will have the patient's intraocular pressure, the number of days they were treated with the drug, the per-day dosage, and the condition they were treated for as both a name and a numeric code.

In [ ]:
import random
import pandas as pd

drug_data = {'Intraocular Pressure': [], 'Days of Treatment': [], 'Dosage (mg)': [], 'Condition Treated': [],
             'Condition Treated Code': []}
for x in range(0, 1000):
    # introcular pressure should be 10-20 mmHg
    chooser = random.randint(0, 6)
    iop = round(random.gauss(12, 2), 1)
    days = int(random.gauss(6, 1) - chooser)
    if days < 0:
        days = 0
    dosage = int(random.gauss(10 + chooser, 2))
    condition = random.choice(['Corneal abrasion', 'Acid reflux', 'Animal bite', 'Anemia'])
    condition_code = 0
    if condition == 'Acid reflux':
        condition_code = 1
    elif condition == 'Animal bite':
        condition_code = random.randint(2, 3)
    elif condition == 'Anemia':
        condition_code = 4
    row = [iop, days, dosage, condition, condition_code]
    num_times = 1
    drug_data['Intraocular Pressure'].append(row[0])
    drug_data['Days of Treatment'].append(row[1])
    drug_data['Dosage (mg)'].append(row[2])
    drug_data['Condition Treated'].append(row[3])
    drug_data['Condition Treated Code'].append(row[4])
    
df = pd.DataFrame(drug_data)
df.head()

### Columns

Print the names of all the columns.

In [ ]:
# your code goes here

Write a line of code that returns the Dosage column.

In [ ]:
# your code goes here

Write a line of code that returns the days of treatment and the condition treated columns.

In [ ]:
# your code goes here

Rename the column Dosage (mg) to just be Dosage. DON'T use `inplace=True`.

In [ ]:
# your code goes here

Rename the columns Condition Treated and Condition Treated Code to Condition and Condition Code in a single line.

In [ ]:
# your code goes here

### Rows and Cells

Print the first row of the dataframe.

In [ ]:
# your code goes here

Print rows 1-4 of the dataframe.

In [ ]:
# your code goes here

Print rows 1-4 of column Days of Treatment.

In [ ]:
# your code goes here

Print the cell in the first row for Dosage (mg).

In [ ]:
# your code goes here

Print the first three rows for columns Intraocular Pressure, Days of Treatement, and Dosage (mg).

In [ ]:
# your code goes here

### Modifying Dataframes

Make a new column called Test that simply contains the text "This is a test" in every row.

In [ ]:
# your code goes here

Make a new column that calculates the total mg the patient has recieved (dosage times days).

In [ ]:
# your code goes here

Drop your Test column and your calculated column in-place. Check that with `df.head()`!

In [ ]:
# your code goes here

### Creating Dataframes

Create a small dictionary with two keys and three values (in a list) for each key. Turn it into a dataframe and view it with `head`.

In [ ]:
# your code goes here

### Combining Dataframes

Run the cell below to make some small practice dataframes to combine for the rest of these exercises.

In [ ]:
frame_1_part_1 = {'ID': [12, 67, 119, 42], 'Days of Treatment': [1, 1, 2, 3]}
frame_1_part_2 = {'ID': [56, 1, 47, 88], 'Days of Treatment': [2, 1, 2, 1]}
frame_2 = {'ID': [56, 1, 47, 88], 'Dose': [12, 13, 14, 11]}
frame_3 = {'Identification': [56, 1, 47, 88], 'Dose': [12, 13, 14, 11]}

df_1_1 = pd.DataFrame(frame_1_part_1)
df_1_2 = pd.DataFrame(frame_1_part_2)
df_2 = pd.DataFrame(frame_2)
df_3 = pd.DataFrame(frame_3)

Concatenate df_1_1 and df_1_2. This should work fine, since they really are just separate rows from identical frames. Store the result as df_1.

In [ ]:
# your code goes here

Merge df_1_1 with df_2.

In [ ]:
# your code goes here

Merge df_1_1 with df_3. You'll need to specify the shared column.

In [ ]:
# your code goes here

Merge df_1 (that you created in the first line of this subsection) with df_2 so that we only retain rows that are present in both dataframes.

In [ ]:
# your code goes here

Merge df_1 (that you created in the first line of this subsection) with df_2 so that we retain all rows.

In [ ]:
# your code goes here