These are additional exercises for Module 1 concepts.

### Functions and Variables
The function`str()` turns its argument into a `str` (text) type. `len()` measures the length of an iterable (like an `str` or a list) passes as an argument to it.

Turn 1 and 2 into `str`s and add them together. You should get '12'.

In [ ]:
# your code goes here

Turn 1 and 2 into `str`s, add them together, and measure the length of the result. You should get 2.

In [ ]:
# your code goes here

Turn 4 into an `str` and multiply it by then length of the word "go", and add 3. You should get 47.

In [ ]:
# your code goes here

Write a function that returns the length of its argument plus one.

In [ ]:
# your code goes here

Write a function that returns the length of its argument plus a second argument that defaults to one, but can be set differently as a keyword argument.

In [ ]:
# your code goes here

### Scope

Write two functions. The first should alter a global variable by doubling it. The second should print the same variable plus one, but not alter the variable.

In [ ]:
# your code goes here

### Lists

The top line of this code uses some tricks we haven't discussed to make a list of even numbers, starting from 0. Write the line of code that retrieves the number 10 from it.

In [ ]:
even_nums = [*range(0, 105)]

# your code goes here

Write code that retrieves the third-from-last number in `even_nums`. (If you skipped the code above you'll need to run it.)

In [ ]:
# your code goes here

Add the numbers 128, 135, and 140 to the end of `even_nums`.

In [ ]:
# your code goes here

Remove the number 22 from `even_nums`.

In [ ]:
# your code goes here

### Dictionaries

Make a dictionary keyed by foods where the value is a two-item list where the first item is what meal you think it should be eaten at and the second is how much you like it on a 1-5 scale.

In [ ]:
# your code goes here

Modify one of the values in your dictionary.

In [ ]:
# your code goes here

Add another value to your dictionary.

In [ ]:
# your code goes here

### For Loops

Write a for-loop that takes every value in the list `[2, 4, 6]` and divides it by two.

In [ ]:
# your code goes here

Take the loop above and make it save its results in a new list.

In [ ]:
# your code goes here

Use `range` to write a loop that takes each number out of the list `[1, 2, 3, 4, 5, 6]` and adds its own index to it. (E.g., 1 + 0, 2 + 1, 3 + 2)

In [ ]:
# your code goes here

Use range to write a loop that takes each number out of the list `[1, 2, 3, 4, 5, 6]` and prints it itself-times. (E.g., 1 is printed once, 2 twice, 3 three times.)

In [ ]:
# your code goes here

Write a function that takes one of the dictionaries you or I have written previously and makes a new dictionary that is "flipped" (key becomes value, value becomes key).

In [ ]:
# your code goes here

**High difficulty!**
Write a for-loop that is given a starting list `[1, 1]` and then adds numbers to it following the Fibonacci series. You should use a `range` statement to control how many numbers get added and the function should calculate the new number itself.

In [ ]:
# your code goes here

### If Statements

The percentage sign (%) gives the remainder of division. E.g., 16 % 5 equals 1, because 5 goes into 15 three times and then there is 1 left over. This can be used to test for eveness in a number. If `num % 2` is zero the number is even.

Below, write a for-loop that evaluates a range of numbers between 0 and 20 and prints 'even' if the number is even.

In [ ]:
# your code goes here

Copy the code above and modify it so that it also prints 'odd' if the number is odd.

In [ ]:
# your code goes here

Copy the code above and modify it so that it prints 'even' for even numbers and for odd numbers it either prints 'divisible by three' if the number is divisible by three and 'not divisible by three' if it isn't divisible by three or even.

In [ ]:
# your code goes here

**Difficult!**
Write a function that takes a three-item list as an argument and evaluates whether the third item is the sum of the first two and returns that answer.

In [ ]:
# your code goes here

### Errors

The code below is supposed to be a simple demonstration that n squared is the same as n plus itself, n times. It doesn't work. Fix it (there are two copies, so you can fix one and look at the other).

Two mathematical operations appear here that may be unfamiliar: `**` means "to the power of" and `+=` means "add this to yourself". (E.g., `x += 1` means that x is now equal to x + 1.)

In [ ]:
for n in range(0, 11):
    n_sum = 0
    n_squared = n ** 2
    for x in range(0, n):
        n_sum += n
    print('Sum is:', n_sum, 'Square is:', n_square)

In [ ]:
for n in range(0, 11):
    n_sum = 0
    n_squared = n ** 2
    for x in range(0, n):
        n_sum += n
    print('Sum is:', n_sum, 'Square is:', n_square)

The code below should go through a list of sequentially-issued IDs and look up the next item in a dictionary, and then print the last field for that value, which will be the item price. It does not work. Again, there are two copies, fix one.

In [ ]:
ids = [28901, 28902, 28903, 28904, 28905, 28906]
item_dict = {28901: [14, '$1.99'], 
             28902: [2, '$2096.15'],
             28903: [4, '$5.50'],
             28904: [4, '$128.01'],
             28905: [5, '$15.37'],
             28906: [72, '$0.12']}

for num in ids:
    item = item_dict[num + 1]
    print(item[2])

In [ ]:
ids = [28901, 28902, 28903, 28904, 28905, 28906]
item_dict = {28901: [14, '$1.99'], 
             28902: [2, '$2096.15'],
             28903: [4, '$5.50'],
             28904: [4, '$128.01'],
             28905: [5, '$15.37'],
             28906: [72, '$0.12']}

for num in ids:
    item = item_dict[num + 1]
    print(item[2])